@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
  @tailwind variants;
}

@font-face {
  font-family: "SF Pro";
  src: url("~@/assets/fonts/SF-Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("~@/assets/fonts/SF-Pro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("~@/assets/fonts/SF-Pro-Rounded-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("~@/assets/fonts/NotoSansThai.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
