@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
  @tailwind variants;
}

* {
  font-family: "Lato", "NotoSansThai";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SF Pro";
  src: url("~@/assets/fonts/SF-Pro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("~@/assets/fonts/NotoSansThai.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0E00- U+0E7F;
}

@font-face {
  font-family: "Sarabun";
  src: url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
  unicode-range: U+0E00- U+0E7F;
}
